html {
    width: 100vw;
    height: 100vh;
    font-family: Roboto, sans;
}

body {
    display: flex;
    flex-direction: column;
}

.section-one, .section-two, .section-three, .section-four {
    flex: 1;
    padding-top: 50px;
    padding-bottom: 80px;
}

.upper-common-bg, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.header, .section-one, .blue-box {
    width: 80vw;
    margin: 0 auto;
    max-width: 1200px;
}

/* HEADER-SECTION */


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-links {
    display: flex;
    gap: 20px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

/* SECTION-ONE */

.section-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sec-one-left, .sec-one-right {
        width: 48%;
        min-width: 300px;
        margin: 20px 0;
    }
    
    h1 {
        color: #f9faf8;
        font-size: 48px;
        font-weight: 900;
        margin-bottom: -10px;
}

.hero-sec {
    color: #e5e7eb;
    font-size: 18px;
}

.sec-one-right {
    height: 100px;
    max-width: 450px;
}

.sec-one-right {
    background-color: #5d5f64;
    color: #e5e7eb;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: last baseline;
}

.image-placeholder {
    padding: 10px;
    text-align: center;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;;
    font-size: 16px;
}

/* SECTION-TWO */

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
}

.sec-two-row {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    /* border: 2px solid green; */
}

.rounded-box {
    height: 175px;
    width: 175px;
    border-radius: 15px;
    border: 3px solid #3882f6;
}

.box-caption {
    width: 175px;
    text-align: center;
    font-size: 18px;
    color: #5d5f64;
}

/* SECTION-THREE */

.section-three {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote-box {
    width: 800px;
    padding: 10px 30px;
}

.quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 10px;
}

.quoter {
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    padding-right: 50px;
    margin-top: 0px
}

/* SECTION-FOUR */

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.blue-box {
    box-sizing: border-box;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 5vw; */
    padding: 20px 30px;
    /* padding: 0; */
}

.blue-box-left {
    color: #e5e7eb;
    padding-right: 20px;
}

h3 {
    margin-bottom: 5px;
}

.blue-box-left > p {
    margin-top: 0;
}

.blue-box-right > button  {
    border: 2px solid #e5e7eb;
    font-weight: bold;
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
}
